/* html */
Table
    display: table
    <table><table>
    <tr> column
    <td> row

Tableless -> sem tabela
    float: left
    clear: both
    <div style="float: left"></div>
    <div style="float: right">outro conteudo</div>
    <div style="clear: both">mais conteudo</div>

/* css */

Flexbox
.container {
    display: flex;
    justify-content: center/ space-around;
    flex-direction: column;
}

Grid
.container {
    display: grid;
    grid-template-columns: 20px 20px;
}